asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
crispy-bootstrap4==2024.1
Django==5.0.4
django-bootstrap4==24.3
django-crispy-forms==2.1
idna==3.7
iniconfig==2.0.0
packaging==24.1
pluggy==1.5.0
pytest==8.2.2
requests==2.32.3
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tig==0.0.1
tzdata==2024.1
urllib3==2.2.2
